/* Colores */

:root {
  --primary: #add681;
  --primary-light: #e0ffb1;
  --primary-dark: #7ca453;
  --secondary: #ffe0b2;
  --secondary-light: #ffffe4;
  --secondary-dark: #cbae82;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade_in {
  animation: fade_in 0.5s;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

header {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  padding: 20px;
}
h1 {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
}
.material-icons.md-48 {
  position: absolute;
  left: 15px;
  font-size: 48px;
}

nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondary-light);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

nav ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Formulario */

.section1 {
  background-color: var(--primary);
  padding: 30px;
}

.section1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}

.section1 form input {
  margin: 15px;
  background-color: var(--secondary);
  border: none;
}

.section1 form input[type="submit"] {
  margin: 15px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary-dark);
}

.form_item {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Aside */
aside {
  background-color: var(--primary-light);
  padding: 5px;
}

aside ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-evenly;
}

aside ul li,
aside li div {
  display: flex;
  align-items: center;
}

#open_sortby select {
  width: 20px;
  border: none;
  background-color: transparent;
}

#filters fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

#filters {
  width: 100%;
  height: 0;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondary-light);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

/* Section 2 */

.section2 {
  padding: 10px 30px 30px 30px;
  background-color: var(--secondary-light);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track:horizontal {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--secondary-dark);
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--secondary-dark);
  transition: background-color 0.8s;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--primary-dark);
}

article img {
  width: 100%;
}

article {
  background-color: white;
  margin: 20px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h3 {
  margin-bottom: 4px;
}

.house_content {
  padding: 0px 20px;
}

.house_location {
  opacity: 0.7;
}

.house_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 18px;
}

.price span {
  color: var(--primary-dark);
}

.house_content a {
  color: var(--primary-dark);
}

input[type="button"] {
  width: 100%;
  background-color: var(--secondary-dark);
  border: none;
  padding: 10px 0px;
}

/* Footer */

footer {
  text-align: center;
  background-color: var(--primary-dark);
  padding: 1%;
}

footer span {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
}

footer img {
  width: 64px;
  height: 64px;
}

footer a {
  color: black;
  text-decoration-color: var(--secondary);
}

footer a:hover {
  color: var(--secondary-light);
}

.redes div {
  display: inline-block;
  padding: 0 0.5%;
}

.redes a {
  text-decoration-style: wavy;
}

.footer_info {
  display: flex;
  flex-direction: column;
}

.footer_info a {
  padding: 5px;
}

@media (min-width: 800px) {
  form {
    flex-direction: row;
  }
}
