/* Colores */

:root {
  --primary: #add681;
  --primary-light: #e0ffb1;
  --primary-dark: #7ca453;
  --secondary: #ffe0b2;
  --secondary-light: #ffffe4;
  --secondary-dark: #cbae82;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 16px;
}

header {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  padding: 20px;
}

h1 {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
}

.material-icons.md-48 {
  position: absolute;
  left: 15px;
  font-size: 48px;
}

nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondary-light);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

nav ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track:horizontal {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--secondary-dark);
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--secondary-dark);
  transition: background-color 0.8s;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--primary-dark);
}

article {
  background-color: var(--secondary-light);
}

h2 {
  margin: 0 0 5px 0;
}

article img {
  width: 100%;
}

.house_header {
  padding: 20px;
  text-align: left;
  background-color: var(--primary-light);
}

.house_content {
  padding: 10px 20px;
}

.house_location {
  opacity: 0.7;
  margin: 5px 0;
}

.house_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
}

.price {
  font-size: 20px;
}

.price span {
  color: var(--primary-dark);
}

.icons ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.icons ul li {
  display: flex;
  align-items: flex-end;
}

.icons ul li span {
  padding-right: 10px;
}

input[type="button"] {
  background-color: var(--secondary-dark);
  border: none;
  padding: 10px 10px;
}

/* Footer */

footer {
  text-align: center;
  background-color: var(--primary-dark);
  padding: 1%;
}

footer span {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
}

footer img {
  width: 64px;
  height: 64px;
}

footer a {
  color: black;
  text-decoration-color: var(--secondary);
}

footer a:hover {
  color: var(--secondary-light);
}

.redes div {
  display: inline-block;
  padding: 0 0.5%;
}

.redes a {
  text-decoration-style: wavy;
}

.footer_info {
  display: flex;
  flex-direction: column;
}

.footer_info a {
  padding: 5px;
}

@media (min-width: 800px) {
  form {
    flex-direction: row;
  }
}
